body{
    margin: 0;
    font-family: arial,sans-serif;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;

}


.logo{
    font-size: 1.5rem;

}


#menu-toggle {
    display: none;

}

.menu-icon{
    display: flex;
    flex-direction:column;
    width: 30px;
    cursor:pointer

}

.menu-icon span{
    height: 3px;
    background: rgba(224, 22, 22, 0.623);
    margin: 4px 0;
    border-radius: 2px;
}

nav {
    background-color: #444;
    display: none;
    flex-direction: column;

}

nav a {
color: white;
padding: 15px 20px;
text-decoration: none;
border-bottom: 1px solid #555;

}

nav a:houver{
    background-color: #555;

}

#menu-toggle:checked+label+nav{
    display: flex;

}

@media (min-width:768px){
    .menu-icon{
        display: none;
    }
}

nav{
    display: flex!important;
    flex-direction: row;
    background: none;

}

nav a{
    border: none;

}

